
label {
    margin: 0;
    padding: 0;
    align-self: center
}

p{
    margin: 0;
}

.input-custom {
    all: unset;
}

.input-custom:focus {
    outline: none;
}

.input-group-custom {
    position: relative;
}

.input-custom {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: rgb(0, 0, 0);
    background-color: transparent;
    outline: 2px solid rgba(41, 76, 92, 0.487);
}

.input-label-custom {
    color: rgba(96, 96, 96, 0.796);
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform 0.25s;
}

.input-custom:focus:not(.input-validated) {
    outline: 2px solid rgba(32, 32, 32, 0.854);
}
.input-validated:focus {
    outline: 2px solid rgba(21, 247, 0, 0.854);
}

.input-custom:focus + .input-label-custom,
.input-custom:valid:not(#location)
:not(#enterprise)
:not(#razon_social)
:not(#rfc)
:not(#regimen_fiscal)
:not(#phone)
:not(#ciudad)
:not(#cp)
:not(#address)
:not(#fax)
:not(#subestacion)
:not(#name)
:not(#last_name)
:not(#email)
:not(#phone_user)
:not(#password)
:not(#password_confirmation)
:not(#parque)
:not(#calle)
:not(#municipio)
:not(#codigo)
:not(#subestacion)
:not(#phone_user)
+ .input-label-custom  {
    transform: translate(10px, -14px) scale(0.8);
    color: rgb(255, 255, 255);
    padding-inline: 5px;
    background-color: #585858;
}
#location:not(:placeholder-shown) + .input-label-custom,
#enterprise:not(:placeholder-shown)  + .input-label-custom,
#razon_social:not(:placeholder-shown) + .input-label-custom ,
#rfc:not(:placeholder-shown)  + .input-label-custom,
#regimen_fiscal:not(:placeholder-shown)  + .input-label-custom,
#phone:not(:placeholder-shown) + .input-label-custom ,
#ciudad:not(:placeholder-shown) + .input-label-custom ,
#cp:not(:placeholder-shown)  + .input-label-custom,
#address:not(:placeholder-shown)  + .input-label-custom,
#fax:not(:placeholder-shown) + .input-label-custom,
#name:not(:placeholder-shown) + .input-label-custom ,
#last_name:not(:placeholder-shown) + .input-label-custom ,
#email:not(:placeholder-shown) + .input-label-custom ,
#password:not(:placeholder-shown) + .input-label-custom ,
#password_confirmation:not(:placeholder-shown) + .input-label-custom ,
#parque:not(:placeholder-shown) + .input-label-custom,
#calle:not(:placeholder-shown) + .input-label-custom ,
#municipio:not(:placeholder-shown) + .input-label-custom ,
#codigo:not(:placeholder-shown) + .input-label-custom,
#subestacion:not(:placeholder-shown) + .input-label-custom,
#phone_user:not(:placeholder-shown) + .input-label-custom

{
    transform: translate(10px, -14px) scale(0.8);
    color: rgb(255, 255, 255);
    padding-inline: 5px;
    background-color: #585858;
}
.input-validated {
    outline: 2px solid rgba(21, 247, 0, 0.854);
}
.spinner-position {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
}
.message {
    position: fixed;
    top: 5%;
    z-index: 10000;
    width: fit-content;
    left: calc(50% - 150px);
    min-width: fit-content;
    height: fit-content;
}
#info_message {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(238deg)
        brightness(109%) contrast(101%);
}

/* 
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

label {
    align-self: center;
    margin: 0;
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: rgb(223, 0, 0);
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 22.5px;
    height: 22.5px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: #00c60d;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 32.5px;
} */


.deshabilitado {
    opacity: 0.5;
}

.nav-custom{
    transition: 0.3s all;
    text-decoration: none;
}
.nav-custom:hover{
    background-color: #112f87;
    scale: 1.1;
    
}


/* .content-wrapper{
    background-color: red;
}
.custom-error{
    background-color: red;
} */


