.input-custom {
    all: unset;
}

.input-custom:focus {
    outline: none;
}

.input-group-custom {
    position: relative;
}

.input-custom {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: rgb(0, 0, 0);
    background-color: transparent;
    outline: 2px solid rgba(41, 76, 92, 0.487);
}

.input-label-custom {
    color: rgba(96, 96, 96, 0.796);
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform 0.25s;
}

.input-custom:focus {
    outline: 2px solid rgba(32, 32, 32, 0.854);
}

.input-custom:focus + .input-label-custom,
.input-custom:valid:not(#location):not(#fax) + .input-label-custom {
    transform: translate(10px, -14px) scale(0.8);
    color: rgb(255, 255, 255);
    padding-inline: 5px;
    background-color: #585858;
}


#fax:not(:placeholder-shown) + .input-label-custom ,
#location:not(:placeholder-shown)  + .input-label-custom {
    transform: translate(10px, -14px) scale(0.8);
    color: rgb(255, 255, 255);
    padding-inline: 5px;
    background-color: #585858;
}
.spinner-position {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
}
.message {
    position: fixed;
    top: 5%;
    z-index: 10000;
    width: fit-content;
    left: calc(50% - 150px);
    min-width: fit-content;
    height: fit-content;
}
#info_message {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(238deg)
        brightness(109%) contrast(101%);
}
